<div class="container-fluid">
  <div class="row page-title align-items-center">
    <div class="col-sm-4 col-xl-6">
      <h4 class="mb-1 mt-0">Tableau de bord</h4>
    </div>

  </div>

  <!-- Les dettes -->
  <div class="row">
    <div class="col-xl-12">
        <app-debt></app-debt>
  </div>
</div>

<div class="row">
  <div class="col-xl-3">
    <div class="card">
      <div class="card-body p-0">
        <div class="card-title header-title border-bottom p-2">
          <h5 class=" mb-0">Banque Vue d'ensemble</h5>
          <p class="total"><i>Total : <b><app-number [value]='total'></app-number></b></i></p>
        </div>

        <!-- Overview data -->
        <div *ngFor="let accountSolde of accountSoldes">
          <app-overview [value]="accountSolde.solde" [title]="accountSolde.account.label" classNames="px-3 py-4">
          </app-overview>
        </div>

      </div>
    </div>
  </div>
  <div class="col-xl-9">
    <app-budget></app-budget>
  </div>
</div>

</div>