<div class="card">
  <div class="card-body pt-2">
    <div class="dropdown mt-2 float-right" ngbDropdown>
      <a href="javascript: void(0);" class="dropdown-toggle arrow-none text-muted" ngbDropdownToggle>
        <i class="uil uil-ellipsis-v"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
        <a class="dropdown-item " (click)="updateDebt()"><i class="uil uil-edit mr-2"></i>Modifier</a>
      </div>
    </div>
    <h5 class="header-title">Détail d'une dêtte</h5>
    <div class="chat-conversation">
      <div class="row ">
        <div class="col-12 text-center">
          <div>Nom : {{debt.name}}</div>
        </div>
      </div>
      <div class="row ">
        <div class="col-12 date text-center">
          <div><i>Description : {{debt.description}}</i></div>
        </div>
      </div>
      <div class="row ">
        <div class="col-12 currentAmount text-center">
          <div>Somme actuelle : <app-number class="number" [value]='debt.currentAmount*-1'></app-number>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-12 amount text-center">
          <div>Somme Initial de la dêtte : <app-number class="number" [value]='debt.amount'></app-number>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-12 deadlineAmount text-center">
          <span>Somme de l'échéance : <app-number class="number" [value]='debt.deadlineAmount'></app-number>
          </span> - <span>Taux du près: {{debt.rate}}%</span>
        </div>
      </div>

      <div class="row ">
        <div class="col-12 text-center">
          <div>Nombre d'échéance : {{debt.nbrOfDeadline}}</div>
        </div>
      </div>

      <br>
      <div class="row ">
        <div class="col-12">
          <div>Echéance : {{debt.dueAmount}}</div>
        </div>
      </div>
      <br>
      <br>
      <hr>
      <div class="row justify-content-between">
        <div class="col-3 date">
          <i class="uil uil-calendar-alt mr-2"></i>Date de début : {{debt.startDate}}
        </div>
        <div class="col-4 crediteur">
          <i class="uil uil-user mr-2"></i>Créditeur : {{debt.creditor}}
        </div>
        <div class="col-3 end date">
          <i class="uil uil-calendar-alt mr-2"></i>Date de fin : {{debt.endDate}}
        </div>
      </div>
    </div>
  </div>
</div>